.mentorBlockInfo {
    min-height: 50vh;
}

.mentorBlockInfo .blockInfo {
    margin: 25px;
    :global {
        .ant-steps-dot .ant-steps-item-content {
            width: 400px;
        }
        .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
            background: #00C9FF;
        }
        .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
            background: #00C9FF;
        }
        .ant-steps-item-finish > .ant-steps-item-tail:after {
            background: #00C9FF;
        }
        .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title {
            font-size: 19px;
            font-weight: bold;
            color: #00C9FF;
        }
        .ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-title {
            font-size: 19px;
        }
        .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-description {
            font-size: 15px;
            color: #444444;
            font-style: italic;
            font-weight: bold;
        }
        .ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-description {
            font-size: 15px;
            color: #444444;
            font-style: italic;
            font-weight: bold;
        }
    }
}

// DESCRIPTION BLOCK

.mentorBlockInfo .blockInfo .blockDesc {
    background: white;
    padding: 40px;
    margin-bottom: 25px;
}

.mentorBlockInfo .blockInfo .blockDesc .titleDesc {
    font-size: 38px;
    font-weight: bold;
    line-height: 40px;
    color: #444444;
}

.mentorBlockInfo .blockInfo .blockDesc .textDesc {
    font-size: 17px;
    font-weight: normal;
    color: #444444;
}

// PARCOURS BLOCK

.mentorBlockInfo .blockInfo .blockParcours {
    background: white;
    padding: 40px;
    margin-bottom: 25px;
}

.mentorBlockInfo .blockInfo .blockParcours .titleParcours {
    font-size: 30px;
    font-weight: bold;
    color: #444444;
}

// BlockAvis 

.mentorBlockInfo .blockInfo .blockAvis {
    background: white;
    padding: 40px;
    margin-bottom: 25px;
}

.mentorBlockInfo .blockInfo .blockAvis .titleAvis {
    font-size: 30px;
    font-weight: bold;
    color: #444444;
}