.blockGridList {
  margin-top: 100px;
  text-align: center;
}

.blockGridList .gridListByUser {
  background: white;
  width: 100%;
  margin: 0 -10px;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.blockGridList .gridListByUser .imgUser {
  text-align: left;
  position: relative;

  img {
    height: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
}

.colorized {
  background: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.userInformation {
  text-align: left;
  position: relative;
  display: inline-block;
}

.userInformation .userName {
  font-weight: bold;
  margin-bottom: 0;
}

.userInformation .userJob {
  font-weight: bold;
  margin-bottom: 0;
}

.btnContainer {
  text-align: right;
}

.userInformation .imgJob {
  margin: 5px;
  padding-bottom: 7px;
}

.userInformation .userCompany {
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
}

.buttonMentor {
  width: auto;
  margin: 40% auto 0;
  color: white;
  padding: 0 20px;
  background-image: linear-gradient(to right, #92FE9D 1%, #00C9FF 100%);
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
}

.buttonMentor:hover {
  transition: .3s;
  background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
}

.buttonMentor:focus {
  transition: .3s;
  background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
}

.checkoutBtn {
  display: none;
  //width: 100px;
  height: 60%;
  //margin-top: 20%;
  //margin-bottom: 20%
}

.userInformation .userDesc {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  color: #444444;
  font-style: italic;
}

.textBtn {
  display: inline-block;
  background: none;
  line-break: auto;
}


.profil {
  margin-right: 15px;
}

// MOBILE MEDIA QUERY ---
@media (min-width:320px) {

}
@media (min-width:480px) {

}
@media (min-width:600px) {
}
@media (max-width:777px) {
  .buttonMentor {
    width: auto;
    margin: 20% auto 0;
  }
}
@media (max-width:1200px) {
  .blockGridList .gridListByUser .imgUser {
    img {
      height: auto;
      width: 20vw;
      min-width: 100px;
    }
  }
}
@media (max-width:1825px) {

  .blockGridList {
    margin-top: 20px;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .colResize {
    margin: 0px;
    padding: 5px;
    width: 100%;
  }

  // .src-view-main-searchMentor-searchMentor__buttonMentor--oMjys {
  //   width: 10px;
  // }
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width:1281px) {
  /* hi-res laptops and desktops */
}
