.footerBlock {
    background: white;
    padding: 20px;
    text-align: center;
    display: block;
  }
  
  .footerBlock .commentUserImg {
    height: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 20%;
  }
  
  .footerBlock .footerName {
    font-weight: bold;
    color: black;
    margin: 10%;
    font-size: 18px;
  }
  
  .footerBlock .footerMessage {
   text-align: left;
   font-size: 16px;
   color: #444444;
  }

  hr {
      width: 50%;
  }

  .imgIcon {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 64px;    
  }
  .devise {
      font-weight: bold;
      color: rgb(153, 153, 153)
    }

  .link {
      font-weight: bold;
  }