.googleButton {
    background: #f2f4f6;
    color: black;
    text-align: center;
    box-shadow: none;
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    border: none;
    border-radius: 8px;
    line-height: 1;
    overflow: hidden;
  }
  
  .googleButton:hover {
    opacity: 1;
    background: #dfdfdf;
    color: white;
  }
  