.blockGridList .gridListByUser .imgUser {
	text-align: left;
	position: relative;
  
	img {
	  height: auto;
	  -webkit-border-radius: 50%;
		border-radius: 50%;
	}
  }
  
  .colorized {
	background: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  .userInformation {
	text-align: left;
	position: relative;
	display: inline-block;
	top: 0;
  }
  
  .userInformation .userName {
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 0;
  }
  
  .userInformation .userJob {
	font-weight: bold;
	margin-bottom: 0;
	font-size: 25px;
  }
  
  .userInformation .imgJob {
	margin: 5px;
	padding-bottom: 7px;
  }
  
  .userInformation .userCompany {
	font-weight: bold;
	text-transform: uppercase;
	background: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 0;
  }
  
  .buttonBooking {
	color: white;
	background-image: linear-gradient(to right, #92FE9D 1%, #00C9FF 100%);
	font-size: 20px;
	letter-spacing: 1px;
	border-radius: 10px;
	font-weight: bold;
	border: none;
  }
  
  .buttonBooking span {
	padding-right: 10px;
	margin-left: -5px,;
  }
  
  .buttonBooking:hover {
	transition: .3s;
	background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
  }
  
  .buttonBooking:focus {
	transition: .3s;
	background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
  }
  
  .userInformation .userDesc {
	display: block;
	margin-top: 5px;
	font-weight: bold;
	color: #444444;
	font-style: italic;
  }
  
  .description {
	margin-right: 100%;
	font-weight: bold;
	font-size: 20px;
	color: #444444;
  }
  
  .textDesc {
	font-weight: bold;
	font-size: 15px;
	color: #444444;
	font-style: italic;
  }
  
  .profileBooking {
	text-align: center;
  
	:global {
	  .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-value,
	  .ant-fullcalendar-selected-day .ant-fullcalendar-value {
		background: #00C9FF;
		border: none;
	  }
  
	  .ant-fullcalendar-month-panel-current-cell .ant-fullcalendar-value,
	  .ant-fullcalendar-today .ant-fullcalendar-value {
		-webkit-box-shadow: 0 0 0 1px #00C9FF inset;
		box-shadow: 0 0 0 1px #00C9FF inset;
	  }
	  .ant-radio-button-wrapper-checked:first-child {
		border-color: #00C9FF;
	  }
	  .ant-radio-button-wrapper-checked {
		color: #00C9FF;
	  }
	  .ant-radio-button-wrapper-checked {
		background: #fff;
		border-color: #00C9FF;
		color: #00C9FF;
		-webkit-box-shadow: -1px 0 0 0 #00C9FF;
		box-shadow: -1px 0 0 0 #00C9FF;
		z-index: 1;
	  }
	  .ant-fullcalendar {
		border-top: 2px solid #00C9FF;
	  }
	  .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused {
		color: #00C9FF;
		position: relative;
	  }
	}
  }
  
  .blockGridList {
	margin-top: 100px;
	text-align: center;
  }
  
  .blockGridList .gridListByUser {
	background: white;
	width: 100%;
	margin: 0 -10px;
	padding: 20px;
	font-family: "Open Sans", sans-serif;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid transparent;
	margin-bottom: 40px;
  }
  
  .userAvailableNot {
	color: red;
	font-weight: bold;
  }
  
  .userAvailable {
	color: #92FE9D;
	font-weight: bold;
  }
  
  .userTime {
	font-weight: bold;
	color: #00C9FF;
  }