* {
  box-sizing: border-box;
}

.feedBackItem:hover {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#00C9FF,#92FE9D);
    opacity: .0;
    transition: 3s;
  }
}

.leftPanel img {
  height: 24px;
}

.loginRow {
  display: flex;
}

.leftPanel {
  flex: 33%;
  padding: 56px 24px;
  height: 100%;
}

.leftPanel img {
  margin-bottom: 15px;
}

.leftPanel .panelContent {
  height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content 1fr min-content min-content;
  grid-row-gap: 12px;
  margin: auto;
  max-width: 312px;
}

.formDivider {
  margin-top: 50px;
}

.is-invalid {
  border: 1px solid red;
}

.errorText {
  color: rgba(255, 84, 84, 0.897);
  font-weight: bold;
}

.errorAlert {
  color: red;
  text-align: center;
  margin: 20px;
  display: block;
  padding: 1px 15px !important;
  font-size: 10px;
}

form .label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  color: #888;
  line-height: 16px;
  font-size: 11px;
  letter-spacing: .4px;
}

.leftPanel .panelFooter {
  margin-top: 50px;
}

.leftPanel .panelFooter .footerLink {
  color: black !important;
  text-decoration: underline;
  display: inline-block;
}

.leftPanel .passwordLost {
  color: black !important;
  text-decoration: underline;
  margin-left: 15px;
  display: inline-block;
}

.leftPanel .panelFooter .footerText {
  color: #888;
  display: inline-block;
  margin-right: 5px;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: .5px;
}

.heading {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 5px;
}

.rightPanel {
  flex: 67%;
  height: 100vh;
  background-image: url("../../../assets/authImage/authImageLogin.jpg" );
  background-size: cover;
  background-repeat: no-repeat;
}

.rightPanel .panelContent {
  height: 100%;

  background-image: linear-gradient(to bottom right,#00C9FF,#92FE9D);
  opacity: .5;
  transition: 3s;
}

.rightPanel .panelContent:hover {
  height: 100%;
  background-image: linear-gradient(to bottom right,#92FE9D,#00C9FF);
  opacity: .2;
  transition: 3s;
}

.btnSharexp {
  color: white;
  padding: 2px 20px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  background-image: linear-gradient(to right, #92FE9D 1%, #00C9FF 100%);
  text-transform: uppercase;
  font-weight: bold;
  transition: all .2s ease;
  outline: none;
  overflow: hidden;
  -webkit-appearance: none;
  border: none;
}

.btnSharexp:hover {
  color: white;
  padding: 2px 20px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  background-image: linear-gradient(to right, #92FE9D 1%, #00C9FF 100%);
  text-transform: uppercase;
  font-weight: bold;
  transition: all .2s ease;
  outline: none;
  overflow: hidden;
  -webkit-appearance: none;
  border: none;
}

.btnSharexp:hover {
  transition: .3s;
  background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
}

.btnSharexp:focus {
  transition: .3s;
  background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}
