@import '../../../../themes/vars.less';

.wrapSecondPart {
  background: white;
}

.feedbackBlock {
  margin: 0 auto;
  overflow: hidden;
}

.feedbackBlock .feedBackItem {
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#00C9FF,#92FE9D);
  opacity: .5; 
  
  transition: 3s;
  }
}

.feedbackBlock .feedBackItem:hover {
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#00C9FF,#92FE9D);
  opacity: .0;
  transition: 3s; 
  }
}

.feedbackBlock .feedBackItem .feedBackText {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 75%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);

}

.feedbackBlock .feedBackItem .feedBackText .jobText{
  color: #92FE9D;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.836);
}

.feedbackBlock .feedBackItem .feedBackText .descText{
  font-size: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  margin-right: 40px;
  margin-left: 40px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  //color: #fff;
}

.carouselDiv {
  // &:before {
  //   content: '';
	// position: absolute;
	// top: 0;
	// right: 0;
	// bottom: 0;
	// left: 0;
	//background-image: linear-gradient(to bottom right,#00C9FF,#92FE9D);
  //opacity: .5; 
  
//  transition: 3s;
  // } 
}

.carouselDiv:hover {
	// background-image: linear-gradient(to bottom right,#00C9FF,#92FE9D);
  // opacity: 1.0;
  // transition: 3s; 
  // &:before {
    // content: '';
	// position: absolute;
	// top: 0;
	// right: 0;
	// bottom: 0;
	// left: 0;
	// background-image: linear-gradient(to bottom right,#00C9FF,#92FE9D);
  // opacity: 1.0;
  // transition: 3s; 
  //}
}

.carouselImg {
  width: 100%;
}

.carouselDiv {
  width: 100%;
  height: auto;
  position: relative;
  &:before {
    content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#00C9FF,#92FE9D);
    opacity: .5;
    transition: 3s; 
  }
}

.carouselDiv:hover {
  width: 100%;
  height: auto;
  position: relative;
  &:before {
    content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#00C9FF,#92FE9D);
    opacity: .0;
    transition: 3s; 
  }
}

.carouselText {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 75%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
}

.feedBackText {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 75%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);

}