@import '../../../themes/vars.less';

.titleHeader {
  font-size: 55px;
  font-weight: bold;
  line-height: 55px;
  text-align: center;
  color: #444444;
}

.wrapHeader {
  margin: 70px auto 0;
  max-width: 800px;
  background: white;
  margin-bottom: 80px;
}

.colorizedText {
	background: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.inputBlock {
  display: block;
}

.btnSearch {
  width: auto;
  margin: 30px auto 0;
  color: white;
  padding: 5px 20px;
  background-image: linear-gradient(to right, #92FE9D 1%, #00C9FF 100%);
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  border: none;
  transition: .3s;
}

.btnSearch:hover {
  transition: .3s;
  background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
}

.btnSearch:focus {
  transition: .3s;
  background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
}

.errorAlert {
  color: red;
  text-align: center;
  margin: 20px;
  display: block;
  padding: 1px 15px !important;
  font-size: 15px;
}

.inputPage {
  vertical-align: middle;
  display: inline-block;
  width: 90%;
  padding: 25px;
  font-size: 16px;
  color: #444;
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  margin: 0 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.inputPage:focus {
  border-color: #00C9FF !important;
}

.inputPage:hover {
  border-color: #92FE9D !important;
}

// MOBILE MEDIA QUERY ---
@media (min-width:320px) {
  .titleHeader {
    font-size: 35px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    color: #444444;
  }
}
@media (min-width:480px) {
  .titleHeader {
    font-size: 35px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    color: #444444;
  }

}
@media (min-width:600px) {
  .titleHeader {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    color: #444444;
  }

  .src-view-main-searchMentor-searchMentor__buttonMentor--oMjys {
    width: 10px;
  }
}
@media (min-width:801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  // .btn-resize {
  //   width: 10px;
  // }
}
@media (min-width:1025px) {
  // .src-view-main-searchMentor-searchMentor__buttonMentor--oMjys {
  //   width: 10px;
  // }
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width:1281px) {
  /* hi-res laptops and desktops */
}
