@import '../../../themes/vars.less';

.headerBlock {
  background: white;
  max-height: 80px;
}

.menuBlock {
  line-height: 64px;
  border: none;
}

:global {
  .ant-menu-horizontal {
    background-color: white;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.03);
    transition: all ease .2s;
  }

  .ant-menu-item:active,
  .ant-menu-submenu-title:active {
    background: rgba(146, 254, 249, 0.192);
  }

  .ant-menu-horizontal > .ant-menu-item,
  .ant-menu-horizontal > .ant-menu-submenu {
    float: right;
    border: none;
    padding-right: 12px;
    font-size: 14px;
    font-weight: bold;
  }

  .ant-menu-horizontal > .ant-menu-item-active,
  .ant-menu-horizontal > .ant-menu-item-open,
  .ant-menu-horizontal > .ant-menu-item-selected,
  .ant-menu-horizontal > .ant-menu-item:hover,
  .ant-menu-horizontal > .ant-menu-submenu-active,
  .ant-menu-horizontal > .ant-menu-submenu-open,
  .ant-menu-horizontal > .ant-menu-submenu-selected,
  .ant-menu-horizontal > .ant-menu-submenu:hover {
    border: none;
    color: #40bbf7;
  }
}

.becomeMentor {
  margin-right: 20px;
  background: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 15px !important;
  border: 2px solid black;
  font-weight: bold;
}

.becomeDispo {
  margin-right: 20px;
  background: #92FE9D;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 15px !important;
  border: 2px solid black;
  font-weight: bold;
}

.becomeGray {
  margin-right: 20px;
  background: rgb(62, 71, 63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 15px !important;
  border: 2px solid black;
  font-weight: bold;
}

.userName {
  background: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 15px !important;
  border: 2px solid black;
  font-weight: bold;
}

.becomeGray:hover {
  margin-right: 20px;
  background: linear-gradient(to right, #00C9FF 0%, #92FE9D 1%, #00C9FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 15px !important;
  border: 2px solid black;
  font-weight: bold;
}

.becomeDispo:hover {
  margin-right: 20px;
  background: linear-gradient(to right, #00C9FF 0%, #92FE9D 1%, #00C9FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 15px !important;
  border: 2px solid black;
  font-weight: bold;
}

.becomeMentor:hover {
  margin-right: 20px;
  background: linear-gradient(to right, #00C9FF 0%, #92FE9D 1%, #00C9FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 15px !important;
  border: 2px solid black;
  font-weight: bold;
}

.headerLogo {
  width: 160px;
  margin: 20px;
  pointer-events: auto;
}

.subMenu {
  float: right;
}
