.commentBlock {
  background: white;
  padding: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.commentBlock .commentUserImg {
  height: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 20%;
}

.commentBlock .commentName {
  font-weight: bold;
  color: black;
  margin: 10%;
  font-size: 18px;
}

.commentBlock .commentMessage {
 text-align: left;
 font-size: 16px;
 color: #444444;
}
