@import '../../../../themes/vars.less';

.wrapThirdPart {
  margin-top: 100px;
  background: white;
  min-height: 364px;
}

.titleThird {
  font-size: 55px;
  font-weight: bold;
  line-height: 55px;
  color: #444444;
  text-align: center;
}

.stepBlock {
  margin-top: 60px;
  margin-bottom: 80px;
}

.iconTitle {
  margin: 10px;
  text-transform: uppercase;
  background: linear-gradient(to right, #00C9FF 0%, #92FE9D 1%, #00C9FF 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.btnMentor {
  margin-top: 50px;
  color: white;
  background-image: linear-gradient(to right, #92FE9D 1%, #00C9FF 100%);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  border: none;
}

.btnMentor:hover {
  transition: .3s;
  background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
}

.btnMentor:focus {
  transition: .3s;
  background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D 100%, #00C9FF 1%);
}

.userSquare {
  width: 100%;
}

.userItem {
  margin: 20px;
  border: 5px solid #00C9FF;
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top right,#00C9FF,#92FE9D);
  opacity: .5; 

  transition: 3s;
  }
}

.userItem:hover {
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#00C9FF,#92FE9D);
  opacity: .0;
  transition: 3s; 
  }
}

.userItemOld {
  margin: 20px;
  border: 5px solid #92FE9D;

  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#92FE9D,#00C9FF);
  opacity: .5; 

  transition: 3s;
  }
}

.userItemOld:hover {
  margin: 20px;
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#92FE9D,#00C9FF);
  opacity: .0; 

  transition: 3s;
  }
}

.listImage {
  width: 15vw;
  height: auto;
}

@media (max-width:450px) {
  .titleThird {
    font-size: 34px;
    font-weight: bold;
    line-height: 34px;
    color: #444444;
    text-align: center;
  }

  .iconTitle {
    font-size: 5vw;
  }

  .icon {
    width: 20vw;
    height: auto;
  }

  .btnMentor {
    font-size: 4vw;
  }
}