.linkedinButton {
  background: #3177b0;
  color: #fff;
  text-align: center;
  box-shadow: none;
  font-size: 15px;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  border: none;
  border-radius: 8px;
  line-height: 1;
  overflow: hidden;
}

.linkedinButton:hover {
  opacity: 1;
  background: #4685b8;
  color: white;
}
